########################################
# Configurações do Banco de Dados
########################################

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=ads-aulas
DB_USER=root
DB_PASSWORD=

########################################
# Aplicação
########################################

APP_URL=http://localhost/ads-2026
APP_ENV=local
FRONTEND_URL=
