# <IfModule mod_rewrite.c>
#     RewriteEngine On
#     RewriteRule ^$ public/ [L]
#     RewriteRule (.*) public/$1 [L]
# </IfModule>


Options -Indexes
RewriteEngine On

# Bloqueia acesso direto ao .env
<Files ".env">
    Order allow,deny
    Deny from all
</Files>

# Redireciona tudo para o index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
