<IfModule mod_rewrite.c>
    RewriteEngine On

    # Se a requisição já for para a pasta public/, não reescreve novamente
    RewriteCond %{REQUEST_URI} ^/public/ [NC]
    RewriteRule ^ - [L]

    # Redireciona todas as outras requisições para public/
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
